$primary-background-color: #BEE7F6;
$secondary-background-color: #AA0505;
$primary-text-color: #FBCA03;
$secondary-text-color: #B97D10;
$primary-link-color: #6A0C0B;
$secondary-link-color: #FFF;
$errors-background-color: #FFC;
$errors-text-color: #DC3D3D;
$subdued-color: darken($primary-background-color, 20%);
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$accent-color: #67C7EB;
$fieldset-color: lighten($secondary-background-color, 15%);
