$primary-background-color: #FFAB00;
$secondary-background-color: #D50000;
$primary-text-color: #212121;
$secondary-text-color: #FFFF00;
$primary-link-color: #2E6AA0;
$secondary-link-color: #FFF;
$errors-background-color: #FFC;
$errors-text-color: #DC3D3D;
$subdued-color: darken($primary-background-color, 20%);
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$accent-color: #FAFBFF;
$fieldset-color: lighten($secondary-background-color, 15%);
