$primary-background-color: #34302F;
$secondary-background-color: #1A1A13;
$primary-text-color: #99585C;
$secondary-text-color: #C5A8AA;
$primary-link-color: #CC0000;
$secondary-link-color: #FFF;
$errors-background-color: #FFC;
$errors-text-color: #DC3D3D;
$subdued-color: darken($primary-background-color, 25%);
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$accent-color: #C5A8AA;
$fieldset-color: lighten($secondary-background-color, 10%);
